body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#bingo-board {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-gap: 5px;
}

.bingo-cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
    border: 1px solid #ddd;
}
